$primaryLight: #962A8B;
$primaryMain: #51247A; // uqpurple
$primaryDark: #3b1a59;

$secondaryLight: #dedede;
$secondaryMain: #595959;
$secondaryDark: #333333;

$accentLight: #54acff;
$accentMain: #316799; // uqblue
$accentDark: #2a557d;

$whiteMain: #FFFFFF;

$warningLight: #ff9a57;
$warningMain: #bf5000;
$warningDark: #542400;

$successLight: #00a700;
$successMain: #007200;
$successDark: #005000;

$errorLight: #ff0000;
$errorMain: #c80000;
$errorDark: #790000;

$statusDanger: red[500];
$statusWarning: orange[500];
